*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: #e258e2;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
}
.nav-nav{
    margin-left: 20px;
    text-decoration: none ;
    font-size: 18px;
}
.container{
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.title{
    margin-top: 20px;
}
.desc{
    margin-top: 10px;
}
